.navbar{
    background-color: rgb(16, 15, 71);
}

.navbar #navbarr{
    display: flex;
    justify-content: center; 
}

.navbar a{
    color: white;
    margin-left: 3%;
}

.navbar button{
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 40px;
}

#bg{
    background-image: url("/assets/LLAMALESS_ILLUS-55.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#main{
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center; 
}

#main h1{
    color: white;
    font-size: 3rem;
}

#mainbutton{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbutton button{
    padding: 2%;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 30px;
}