<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="/assets/LOGO_STARGAZING.png" alt="Logo" width="200">
      <div id="navbarr" class="container-fluid">
        <a class="navbar-brand p-3" href="#">Home</a>
        <a class="navbar-brand p-3" href="#">Tours</a>
        <a class="navbar-brand p-3" href="#">Blogs</a>
        <a class="navbar-brand p-3" href="#">FAQ</a>
        <a class="navbar-brand p-3" href="#">ADObs</a>
        <a class="navbar-brand p-3" href="#">Contacto</a>
      </div>
    </div>
  </nav>
  
  <div id="bg" class="container-fluid bg-dark">
    <div id="main" class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h1>El Universo desde la comodidad de tu Hogar.</h1>
          <div id="mainbutton" class="container">
            <button class="btn btn-primary" (click)="palCrud()">Haz tu reserva aquí</button>
          </div>
        </div>
      </div>
    </div>
  </div>